/**
 * Mixins
 *
 * @author magnify
 */
/* Breakpoints
   ========================================================================== */
/* Media query
   ========================================================================== */
/* Breakpoints
   ========================================================================== */
/* Typography mixins
 *
 * These are mixins to allow for use in media queries
   ========================================================================== */
/* Availability
   ========================================================================== */
/* Pseudo arrow
 *
 * Usage example: pseudo-arrow(10px, #000, top, center, $offset: 20px)
   ========================================================================== */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  50% {
    -moz-transform: rotate(180deg);
  }
  100% {
    -moz-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* FontAwesome
   ========================================================================== */
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?tldck4");
  src: url("../fonts/icomoon.eot?tldck4#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?tldck4") format("truetype"), url("../fonts/icomoon.woff?tldck4") format("woff"), url("../fonts/icomoon.svg?tldck4#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"]:before, [class*=" icon-"]:before,
[class^="icon-"]:after, [class*=" icon-"]:after {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Spacing variables
   ========================================================================== */
/* Font library
   ========================================================================== */
/* Colors variables
   ========================================================================== */
/* Font variables
   ========================================================================== */
/* Module styles
   ========================================================================== */
.pane-subject-hierarchy,
.pane-subject-hierarchy a {
  font-size: 100%;
}
.pane-subject-hierarchy .bibdk-subject-hierarchy-content {
  overflow: hidden;
}
.pane-subject-hierarchy ul:empty,
.pane-subject-hierarchy li:empty,
.pane-subject-hierarchy a:empty {
  display: none;
}
.pane-subject-hierarchy .header h1,
.pane-subject-hierarchy .header h2 {
  font-size: 130%;
  margin-bottom: 0;
}
.pane-subject-hierarchy .message {
  display: none;
}
.pane-subject-hierarchy .pane-title {
  float: left;
}
.pane-subject-hierarchy .ajax-progress, .pane-subject-hierarchy .ajax-progress-throbber {
  position: relative;
  float: right;
  width: auto;
  height: auto;
  background: none;
}
.pane-subject-hierarchy .ajax-progress .throbber {
  width: 20px;
  height: 20px;
  font-size: 20px;
}
.pane-subject-hierarchy .subject-item p {
  min-height: 60px;
  height: auto !important;
  height: 60px;
  position: relative;
  margin: 0;
}
.pane-subject-hierarchy ul {
  padding-left: 0;
}
.pane-subject-hierarchy #bibdk-subject-hierarchy-searchfield-form {
  float: right;
}
.pane-subject-hierarchy #bibdk-subject-hierarchy-searchfield-form > div {
  display: flex;
  align-items: start;
}
.pane-subject-hierarchy .bibdk-subject-hierarchy-header,
.pane-subject-hierarchy .bibdk-subject-hierarchy-helptext {
  display: none;
}
.pane-subject-hierarchy .subjects-sublist-wrapper {
  display: none;
  float: left;
  width: 100%;
}
.pane-subject-hierarchy #bibdk-subject-hierarchy .subject-item--active > p {
  text-decoration: underline;
}
@media only screen and (min-width: 1211px) {
  .pane-subject-hierarchy #bibdk-subject-hierarchy .subject-item--active > p {
    min-height: 60px;
    height: auto !important;
    height: 60px;
  }
  .pane-subject-hierarchy #bibdk-subject-hierarchy .subject-item--active > p:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    width: 0;
    height: 0;
    border-width: 0 10px 10px;
    border-style: solid;
    border-color: transparent transparent #999;
    content: '';
  }
}
.pane-subject-hierarchy .subjects-sublists {
  position: relative;
  margin-bottom: 30px;
  padding: 15px;
  border: solid 5px #999;
  background-color: #fff;
}
@media only screen and (min-width: 769px) {
  .pane-subject-hierarchy .subjects-sublists li {
    display: inline-block;
    margin-right: -4px;
    margin-bottom: 5px;
    width: 25%;
    vertical-align: top;
  }
  .pane-subject-hierarchy .subjects-sublists a {
    display: block;
    padding-right: 15px;
  }
}
.pane-subject-hierarchy .subjects-sublists .subjects-sublists-heading {
  font-size: 18px;
  margin-bottom: 10px;
}
.pane-subject-hierarchy .subjects-close-button {
  position: absolute;
  right: 10px;
  display: inline-block;
  cursor: pointer;
}
.pane-subject-hierarchy .icon-x-altx-alt:before {
  content: '\e991';
  font-size: 14px;
  font-weight: 900;
}
.pane-subject-hierarchy .bibdk-subject-hierarchy-searchresult .subjects-breadcrumb {
  margin-bottom: 0;
}
.pane-subject-hierarchy .subjects-breadcrumb {
  margin-right: 20px;
  margin-bottom: 20px;
}
.pane-subject-hierarchy .subjects-breadcrumb .container-last {
  display: inline-block;
}
.pane-subject-hierarchy .subjects-breadcrumb .container-last:hover {
  text-decoration: none;
}
.pane-subject-hierarchy .subjects-breadcrumb .container-last:last-child {
  font-weight: 600;
}
.pane-subject-hierarchy .subjects-breadcrumb .container-last.icon-keyboard_arrow_right:before {
  margin-right: 10px;
  color: #333;
  content: '\e992';
  font-size: 14px;
}
.pane-subject-hierarchy .subjects-breadcrumb a {
  display: inline-block;
}
.pane-subject-hierarchy .subjects-breadcrumb a:hover {
  text-decoration: none;
}
.pane-subject-hierarchy .subjects-breadcrumb a:last-child {
  font-weight: 600;
}
.pane-subject-hierarchy .subjects-breadcrumb a.icon-keyboard_arrow_right:before {
  margin-right: 10px;
  color: #333;
  content: '\e992';
  font-size: 14px;
}
.pane-subject-hierarchy .subjects-breadcrumb a:first-of-type:before {
  margin-right: 0;
  content: '';
}
.pane-subject-hierarchy .subjects-sublist {
  clear: both;
  margin-bottom: 20px;
}
.pane-subject-hierarchy .subjects-sublist ul {
  margin-bottom: 20px;
}
.pane-subject-hierarchy .subjects-sublist ul li {
  overflow: hidden;
}
.pane-subject-hierarchy .subjects-sublist .ajax-progress,
.pane-subject-hierarchy .subjects-sublist .ajax-progress-throbber {
  float: left;
}
.pane-subject-hierarchy .subjects-sublist a {
  float: left;
}
.pane-subject-hierarchy .subjects-sublist a:hover {
  text-decoration: none;
}
.pane-subject-hierarchy .subjects-sublist a.icon-plus-alt:after {
  margin-left: 10px;
  color: #333;
  content: '\e990';
  font-size: 14px;
}
.pane-subject-hierarchy .subjects-sublist a .throbber {
  left: 0;
}
.pane-subject-hierarchy .subject-hierarchy-searchfield {
  text-align: right;
}
.pane-subject-hierarchy .searchfield-submit,
.pane-subject-hierarchy .form-item-search-hierarchy-input {
  display: inline-block;
}
.pane-subject-hierarchy .searchfield-submit input,
.pane-subject-hierarchy .form-item-search-hierarchy-input input {
  margin: 0;
}
.pane-subject-hierarchy .searchfield-submit {
  min-height: 54px;
  height: auto !important;
  height: 54px;
  text-transform: capitalize;
  width: auto;
  border-radius: 0 5px 5px 0;
}
.pane-subject-hierarchy .form-item-search-hierarchy-input {
  box-sizing: border-box;
  float: left;
  margin-right: 0;
}
.pane-subject-hierarchy .form-item-search-hierarchy-input input {
  width: 100%;
  border-radius: 5px 0 0 5px;
}
.pane-subject-hierarchy .search-hierarchy-suggestion-input {
  box-shadow: inset 0 0 8px 0 #888;
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .pane-subject-hierarchy .subjects-row {
    width: 44.44444%;
    float: left;
    margin-right: 11.11111%;
  }
  .pane-subject-hierarchy .subjects-row:nth-of-type(2n + 2) {
    float: right;
    margin-right: 0;
  }
}
.pane-subject-hierarchy .subjects-row .header a {
  display: block;
  font-weight: 600;
}
.pane-subject-hierarchy .subjects-row .note {
  position: relative;
}
.pane-subject-hierarchy .subjects-row .note a {
  font-size: 85%;
}
.pane-subject-hierarchy .subjects-row .subject-item {
  overflow: hidden;
}
@media only screen and (min-width: 769px) {
  .pane-subject-hierarchy .subjects-row .subject-item {
    width: 21.05263%;
    float: left;
    margin-right: 5.26316%;
  }
  .pane-subject-hierarchy .subjects-row .subject-item:nth-of-type(4n + 4) {
    float: right;
    margin-right: 0;
  }
}
